.box-movie .box-body {
    height: 500px;
}

.box-movie .box-body > div {
    padding: 5px 15px;
    background: rgba(255, 255, 255, .6);
    height: 100%;
}

.box-movie .box-body > div > div {
    min-height: 170px;
}

.box-movie .box-body .box-summary img {
    margin-right: 10px;
}

.box-movie .box-body .box-summary {
    height: 350px;
    font-weight: 600;
}

.box-movie .box-body .well {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.box-movie .box-body .box-summary a.btn.pull-right {
    margin-left: 5px;
}
